<mat-card>
    <mat-card-title>Titulo do Livro</mat-card-title>
    <div class="autor">
      <img id="fotoAutor" mat-card-avatar src="/assets/no-profile.png">
      <mat-card-subtitle>Nome do Autor</mat-card-subtitle>
    </div>
    <div class="livro">
      <img mat-card-image id="capaLivro" src="https://picsum.photos/200">
      <mat-card-content id="resumoLivro"> Resumo: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae vero molestias necessitatibus sequi libero distinctio ipsa animi, quas, error aut, maxime laboriosam! Architecto repudiandae id quis veniam inventore qui veritatis.</mat-card-content>
      </div>
  </mat-card>
